
<div class="seccion">
    <h2 class="titulo font-weight-bold mt-4 text-black">Proyectos</h2>

    <div class="btn-group mt-3" role="group">
        <button type="button" class="btn btn-dark" (click)="obtenerProyectos()">Todos</button>
        <button type="button" class="btn btn-dark" (click)="obtenerProyectosPorCategoria('angular')">Angular</button>
        <button type="button" class="btn btn-dark" (click)="obtenerProyectosPorCategoria('nodejs')">Nodejs</button>
        <button type="button" class="btn btn-dark"
            (click)="obtenerProyectosPorCategoria('javaScript')">javaScript</button>
    </div>

    <div class="proyectos-container bg-light">
        <div class="proyectos row mb-4 align-items-stretch">
            <ng-container *ngIf="proyectos.length > 0; else noProyectos">
                <div class="col-lg-3 mt-4" *ngFor="let proyecto of proyectos">
                    <div class="card cardProyecto">
                        <div class="card-body">
                            <h5 class="card-title text-black">{{ proyecto.titulo }}</h5>
                            <p class="card-text font-weight-bold"><strong>Descripción:</strong> {{ proyecto.descripcion }}</p>
                            <p class="card-text"><strong>Cliente:</strong> {{ proyecto.cliente }}</p>
                            <p class="card-text"><strong>Url Cliente:</strong>: <a href="{{ proyecto.url_cliente }}">{{
                                    proyecto.url_cliente }}</a></p>
                            <p class="card-text"><strong>Categoria:</strong> {{ proyecto.categoria }}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #noProyectos>
                <p class="mt-3">No hay proyectos disponibles.</p>
            </ng-template>
        </div>
    </div>
</div>